:host > div {
  width:1em;
  height:1em;
  font-size: 4rem;
  position: relative;

  span {
    font-size:1em;
    line-height:1em;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.hover-visible {
      display: none;
    }
  }

  &:hover span.hover-visible {
    display: inline;
  }

  &:hover span.hover-fade {
    opacity: 0.2;
  }

  &.dark {
    background-color: #844801;
    color: black;
  }

  &.light {
    background-color: #dcdcdd;
    color: black;
  }

  &.active {
    //background-color: #6c8aff;
    background-color: #4c5eb2;
  }
}
