:host {
  min-width: 15rem;
  padding-left: 2rem;
}

.label {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

ul > li {
  > i {
    font-size: 2rem;
  }

  &:hover {
    cursor: pointer;
  }
}
