<div class="container">
  <div class="content row">
    <div class="chessboard-container" >
      <app-chessboard [chessboard]="chessboard" (fieldClick)="onFieldClick($event)">
      </app-chessboard>
      <div *ngIf="loading" class="spinner-container"><div class="spinner-border loader"></div>
      </div>
    </div>
    <div>
      <app-chess-piece-list [chessPieces]="chessPieces" [(selectedChessPiece)]="chessboard.selectedChessPiece">
      </app-chess-piece-list>
      <div [hidden]="!displayError" class="alert alert-danger">
        Nieprawidłowy ruch.
      </div>
    </div>
  </div>
</div>
