<div>
  <div *ngFor="let row of chessboard.rows; let rowIndex = index">
    <app-chessboard-field *ngFor="let field of row.fields; let column = index" [field]="field"
        [hoverContent]="chessboard.selectedChessPiece?.unicode"
        [content]="chessboard.placedChessPiece?.position?.row === rowIndex && chessboard.placedChessPiece?.position?.column === column
            ? chessboard.placedChessPiece?.chessPiece?.unicode : undefined"
        [active]="isFieldActive(rowIndex, column)"
        (click)="onChessboardFieldClick(rowIndex, column)">
    </app-chessboard-field>
  </div>
</div>
